            <div class="language-container container-block">
                <h2 class="container-block-title">{{ i18n "language" }}</h2>
                <ul class="list-unstyled interests-list">
                    <li> German </li>
					<li><span class="dot_full"></span> <span class="dot_full"></span> <span class="dot_full"></span> <span class="dot_full"></span> <span class="dot_full"></span> </li>
                    <li> English </li>
					<li><span class="dot_full"></span> <span class="dot_full"></span> <span class="dot_full"></span> <span class="dot_full"></span> <span class="dot_full"></span> </li>
                    <li> Japanese </li>
					<li><span class="dot_empty"></span> <span class="dot_full"></span> <span class="dot_empty"></span> <span class="dot_empty"></span> <span class="dot_empty"></span> </li>
                    <li> French </li>
					<li><span class="dot_empty"></span> <span class="dot_full"></span> <span class="dot_empty"></span> <span class="dot_empty"></span> <span class="dot_empty"></span> </li>
                </ul>
            </div><!--//language-->

  